<html>
  <head>
    <title>Habit Tracker Page</title>
  </head>
  <body>
    <header><p>Habit Tracker</p></header>
    <div>
      <form action="/new-habit" method="POST">
        <input
          type="text"
          name="content"
          placeholder="New Habit Name.."
          required
        />
        <input type="submit" value="Add Habit" />
      </form>
    </div>
    <div>
      <%response.forEach((item)=>{%>
      <p><%= item.content%></p>
      <%days.forEach((day)=>{%>
      <a href="/update-status/?id=<%= item._id%>&date=<%=day.date%>"
        >Update State
      </a>
      <p><%= day.date%></p>
      <p><%= day.day%></p>
      <%})%> <%})%>
    </div>
    <footer></footer>
  </body>
</html>
